body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ffebcd;
}

#about {
  background-color: #f3f4f5;
}

#projects {
  background-color: #ffebcd;
}

#contact {
  background-color: #f3f4f5;
}

section {
  padding-top: 5rem;
}

#about .row .info {
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 10px 10px rgba(88, 88, 88, 0.1);
  padding: 5px;
}
#about .row .info span {
  font-weight: bold;
}
