@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
body {
  background: linear-gradient(to bottom right, #f7cac9, #c5b9cd, #92a8d1);
  height: 100vh; /* Tinggi elemen latar belakang setara dengan tinggi jendela browser */
}

.container .title {
  background-color: #fff;
  text-align: center;
  color: #000;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.5em;
  mix-blend-mode: screen;
  font-family: "Poppins", sans-serif;
}

.container .showing .col {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

.showing .col p {
  margin-top: 5;
  margin-bottom: 5;
}

.showing .col button {
  background-color: #92a8d1;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  width: 500px;
  box-shadow: 0 10px 0 #c5b9cd;
}

.showing .col button:active {
  box-shadow: none;
  transform: translateY(10px);
}

.showing .col button:hover {
  background-color: #abb1cf;
}
